VITE_API_URL=https://backend-buscolaburo.onrender.com/api
VITE_FIREBASE_API_KEY=tu_api_key
VITE_FIREBASE_AUTH_DOMAIN=buscolaburo-f8d97.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=buscolaburo-f8d97
VITE_FIREBASE_STORAGE_BUCKET=buscolaburo-f8d97.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_sender_id
VITE_FIREBASE_APP_ID=tu_app_id
