VITE_API_URL=https://backend-buscolaburo.onrender.com/api
VITE_FIREBASE_API_KEY=tu_api_key
VITE_FIREBASE_AUTH_DOMAIN=busco-laburo.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=busco-laburo
VITE_FIREBASE_STORAGE_BUCKET=busco-laburo.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=tu_sender_id
VITE_FIREBASE_APP_ID=tu_app_id
